.News {
  position: relative;
  width: 90vw;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  align-self: center;
}

.btn {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
